{% extends 'shared/base.html' %}{% load static %}{% block content%}
    <div class="pagina-inicial">
      {% include 'partials/_header.html' %}
      <main class="principal">
        <section class="menu-lateral">
          <nav class="menu-lateral__navegacao">
            <a href="{% url 'index' %}"
              ><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}" />
              Home</a
            >
            <a href="{% url 'user_login' %}"
              ><img
                src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"
              />
              Login</a
            >
            <a href="{% url 'cadastro' %}"
              ><img
                src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"
              />
              Cadastrar</a
            >
            <a href="#"
              ><img
                src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"
              />
              Logout</a
            >
          </nav>
        </section>
        <section class="galeria" style="margin-left: 5em">
          <form action="{% url 'user_login' %}" method="POST">
            {% csrf_token %}
            <!-- prettier-ignore -->
            <div class="row">
              {% for field in form.visible_fields %}
                <div class="col-12 col-lg-12" style="margin-bottom: 10px">
                  <label for="{{field.id_for_label}}" style="color: #d9d9d9; margin-bottom: 5px">{{field.label}}</label>
                  {{ field }}
                </div>  
              {% endfor %}
              <button class="btn btn-success col-12" style="padding: top 5px" type="submit">Login</button>
            </div>
          </form>
        </section>
      </main>
    </div>
{% endblock %}
